@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie App! 🎥🍿</h1>
    <p>View, create, update, and delete movies. Go ahead, try it out!</p>
</div>
