html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.05rem white, 0 0 0 0.15rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn, .btn-focus, .btn:active:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    margin: 10px 0;
    border: none;
}

.dark-mode {
    background: linear-gradient(#434343, #000);
    color: #fff;
}

.dark-mode a {
    color: aqua;
}

.dark-mode .btn-primary {
    background-color: aqua;
    color: black;
}

.dark-mode th {
    color: #cdf6f4;
}

.dark-mode tr, .dark-mode .footer {
    color: #F5F5F5;
}

.dark-mode .btn-link.nav-link:focus, .dark-mode .form-control:focus, .dark-mode .form-check-input:focus {
    box-shadow: 0 0 0 0.05rem white, 0 0 0 0.15rem aqua;
    outline: none;
}

    
  





