html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn {
    border: none;
    box-shadow: none;
    outline: none;
}

    .btn:focus {
        box-shadow: none;
        border: none;
    }

.btn-primary {
    margin: 10px 0;
    border: none;
}

.dark-mode {
    background: linear-gradient(#434343, #000);
    color: #fff;
}

.dark-mode a {
    color: aqua;
}

.dark-mode th {
    color: #cdf6f4;
    }

.dark-mode tr, .dark-mode .footer {
        color: #F5F5F5;
    }

    
  





